<div class="d-flex justify-content-center">
  <div class="col-3 mt-5 mx-4">
    <form [formGroup]="equityForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Selling Price: </label>
        <input type="number" class="form-control" [formControl]="equityForm.controls['sellingPrice']">

        <label>Reservation Date: </label>
        <input type="date" class="form-control" [formControl]="equityForm.controls['reservationDate']">

        <label>Equity Term: </label>
        <input type="number" class="form-control" [formControl]="equityForm.controls['equityTerm']">
        <button type="submit" class="btn btn-primary mt-3 col-4">Ok</button>
      </div>
    </form>
  </div>
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-header">Output</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th>Balance</th>
            <th>Due Date</th>
            <th>Term</th>
            <th>Payment Info</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of equity">
              <td>{{item.balance}}</td>
              <td>{{item.dueDate}}</td>
              <td>{{item.term}}</td>
              <td>
                <div class="row-cols-1">
                  <strong>Amount: </strong>
                  {{item.paymentInfo[0].amount | currency: 'Php '}}
                </div>
                <div class="row-cols-1">
                  <strong>Interest: </strong>
                  {{item.paymentInfo[0].interest | currency: 'Php '}}
                </div>
                <div class="row-cols-1">
                  <strong>Insurance: </strong>
                  {{item.paymentInfo[0].insurance | currency: 'Php '}}
                </div>
                <div class="row-cols-1">
                  <strong>Total: </strong>
                  {{item.paymentInfo[0].total | currency: 'Php '}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
